/* Page Layout */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
  color:white;
}
h2 {
  font-size: 24px;
  color:white;
}
h3 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}


h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Dancing Script OT';
  src: url('../fonts/DancingScript-Regular.otf?v=1.0000');
  font-weight: normal;
  font-style: normal;
}

.cursive {
  --font-family: "Dancing Script OT";  
  font-family: 'Lovers Quarrel', cursive;  
}

.cursive .big {
  font-size:120px;
}

.wedding-font {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
}

/** Bootstrap customization **/
.container-full-page{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {
    height: 100%;
    display:table-cell; 
    vertical-align: middle;
}
 
.centering {
  float:none;
  margin:0 auto;
}


.responsive-image {
  background: url("img/bg/1.jpg") no-repeat center center;
  max-width:100%;
  max-height:100%;
  height:200px;
}

.card-image {
  background: url("http://chelanbride.com/wp/wp-content/uploads/2013/04/lilac-wedding-ideas-photo-1.jpg") no-repeat center center; 
  max-width:100%;
  max-height:100%;
  height:200px;
}

.bg-accent-image-1 {
  background: url("http://chelanbride.com/wp/wp-content/uploads/2013/04/lilac-wedding-ideas-photo-2.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-accent-image-2 {
  background: url("http://chelanbride.com/wp/wp-content/uploads/2013/04/lilac-wedding-ideas-photo-3.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-accent-image-3 {
  background: url("http://chelanbride.com/wp/wp-content/uploads/2013/04/lilac-wedding-ideas-photo-1.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
.bg-accent-image-1-remove,
.bg-accent-image-2-remove,
.bg-accent-image-3-remove {
  opacity:0;
  transition: opacity 2s ease-out;
}

.bg-accent-image-1-remove-active,
.bg-accent-image-2-remove-active,
.bg-accent-image-3-remove-active {
  opacity: 1;
}


.bg-accent-primary {
  background-color:#1e0033;
}

.bg-accent-warning {

}

.bg-white {
  transition: background-color 0.5s ease;
  background-color:white;
}

.bg-none {
  transition: background-color 0.5s ease;
  background-color:rgb(0,0,0,0);
}

/************************
*
* Edit this ara
*
*************************/
.bg-primary {
  transition: background-color 0.5s ease;
  background-color:#420C3B

}

.bg-secondary {
  transition: background-color 0.5s ease;
  background-color:#8B668B;
}

.text-primary {
  color:#996515;
}

.border-primary {
  border: 4px solid 996515;
}

/************************
*
* END Edit this ara
*
*************************/




/** Utilities */
.clear {
  margin:0px;
  padding:0px;
}
.clear-padding {
  padding:0px;
}

.animate-switch.ng-animate {
   transition: all 1s ease-in-out;
   margin-top:100px;   
   opacity: 1;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  margin-top:-100px;
  opacity:0;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  margin-top:0px;
  opacity:1;
}


@media (max-width: 768px) {
  .pull-sm-left {
    float:left;
    text-align: left;
  }
}


@media (min-width: 768px) {
  .divider {
    border-right: 3px solid grey;
  }
}

/************************
*
*  Navigations
*
************************/
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-nav > li >a {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white !important;
  text-transform:uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background:transparent;
  color:#996515 !important;
}

.navbar-nav > li > a:hover {
  color:#996515;
}


.navbar-toggle {
  border-color: #ddd;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}

.bg-white {
  background:white;
}

.bg-white .navbar-nav > li > h2,
.bg-white .navbar-nav > li > a {
  
  color:#A9A9D6 !important;
}

@media (max-width:768px) {  
  .navbar-collapse{
    background:white;
  }

  .navbar-nav > li > a,
  .navbar-nav > li > h2 {
    color:#A9A9D6 !important;
  }
}


/******************************
*
* Wedding Info Customzation
*
*******************************/
#my-header {
 background:transparent;
 position:absolute;
 height:100%;
 top:0;
 padding-top:20%;
}

#info a {
  text-decoration: none;
  color: grey;
}
#info a:hover {
  text-decoration: none;
  color:#996515;
}

#info a.active {
  text-decoration: none;
  color:#996515;
}

#info h1.cursive {
  color:#f44336;
}

.intro {
  font-family: 'Montserrat', arial, sans-serif !important;
  font-size:18px;
  margin-bottom: 30px;
  color: #786b67
}

/******
*
* Carousel
*
*******/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.my-carousel .item{
  margin: 3px;
}
.my-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}